<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>대출 채권 관리</title>
    <style type="text/css">
    .wrap {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 800px 200px;
    }
    
    .wrap > div {
        margin: 1px; padding: 10px; font-size: 20px;
        display: block;
        }
    .wrap > div > div > h1 {
        text-align: center;
        height: 100px;
        line-height: 100px;
    }

<!--로그인, 회원등록 오른쪽으로 정렬하기 미완료--> 

    .wrap > div > div > form {
        display: inline-block;
        align-content: right;
    }
    .grid1 {
        grid-column-start: 1; grid-column-end: 3;
        background: white;
        padding: 300px;
        background-image: url(images/LoanpointLogo_Big.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        display: inline;
    }
    .grid2 {
        grid-column-start: 1; grid-column-end: 2;
        background: skyblue;
        display: block;
    }
    
    .menu {
        text-align: center;
        height: 50px; line-height: 50px;
    }

    .grid3 {
        grid-column-start: 2; grid-column-end: 3;
        background: lightyellow;
    }
    .grid4 {
        grid-column-start: 1; grid-column-end: 3;
        background: peachpuff;
    }

    h3 {border: 1px solid blue;}
    table{
        width: 100%;
        border-collapse:collapse;
    }
    td,th{
        width:fit-content;
        border:1px solid #000000;
        text-align: center;
    }

    </style>
</head>
<body>
    <div class="wrap">
        <div class="grid1">
            <div>
                <h1>대출 관리 프로그램</h1>
            </div>
            <form>
                <input type="text" value="ID">
                <input type="text" value="Password">
                <input type="button" value="로그인">
                <input type="button" value="회원등록">
            </form>
        </div>
        <div class="grid2">
            <div id="client" class="menu" onclick="client()"><h3 onclick="client()">고객 관리</h3></div>

            <div id="order" class="menu" onclick="order()"><h3 onclick="order()">의뢰 관리</h3></div>
        
            <div id="loan" class="menu" onclick="loan()"><h3 onclick="loan()">대출 관리</h3></div>
        
            <div id="late" class="menu" onclick="late()"><h3 onclick="late()">연체 관리 </h3></div>
        
            <div id="schedule" class="menu" onclick="schedule()"><h3 onclick="schudule()">일정 관리</h3></div>
        </div>

        <div id="contents" class="grid3">content</div>
        <div class="grid4">footer</div>
        
    </div>
</body>

<script>
    function order(){
        const obj = document.getElementById('contents');
        obj.innerHTML = '<table><tr><th>의뢰 번호</th><th>의뢰인</th><th>주소</th><th>금액</th><th>비 고</th></tr><tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr></table>';
    }
</script>

</html>